{% extends '_partials/base.html' %} {% block content %} {% load static %}

<form class="ui form">
    <div class="field">
      <label>Amount</label>
      <input type="number" name="amount" placeholder="Enter Amount">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0" class="hidden">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button" type="request_loan">Buy Shares</button>
  </form>
  
{% endblock content %}