
{% extends '_partials/base.html' %} 

{% block title %}

Home

{% endblock %}
{% load static %}
{%block content%}

    <img src="{% static 'images/wonilogo.png' %}"/>


    <h1 class="ui header">My Loans</h1>
    
    {% if L %}
    <table class="ui table">
        <thead>
            <tr>
                <th>Loan Status</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Date Borrowed</th>
                <th>Due Date</th>
                <th>Actions</th>            
            </tr>
        </thead>
        <tbody>
            {% for loan in L %}
            <tr>
                <td>{{loan.loan_status}}</td>
                <td>{{loan.amount_borrowed}}</td>
                <td>{{loan.loan_balance}}</td>
                <td>{{loan.date_borrowed}}</td>
                <td>{{loan.due_Date}}</td>
                <td>
                    <a href={% url 'loandetail' loan.pk %} class="ui button">
                        <i class="eye icon"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="ui message">
        <div class="header">
            Nothing to show yet
        </div>
        <p>you don't have existing Loans <a href= {% url 'loanapplication' %}>Request Loan now</a></p>
    </div>
    {% endif %}
{% endblock content %}
    